<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hap.fruit.mapper.FruitMapper">
    <resultMap id="BaseResultMap" type="com.hand.hap.fruit.dto.Fruit">
        <result column="id" property="id" jdbcType="DECIMAL" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="DECIMAL" />
        <result column="producing_area" property="producingArea" jdbcType="VARCHAR" />
    </resultMap>


</mapper>